:root {
  --primary-color: #cee9ff;
  --secondary-color: #6c0276;
  --tertiary-color: #2b2d42;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/* Centering website on the screen */

body {
  color:  var(--tertiary-color);
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(135, 180, 182);
  line-height: 1.5;
}
#page-wrap { 
  position: absolute; 
  left: 50%; 
  width: 800px;
  margin-left: -400px;
}

/*Header styling start*/
header {
padding: 20px 35px;
background-color:  var(--secondary-color);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
top: 0;
z-index: 9999;
}
